body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: whitesmoke;
}

.container{
    padding: 100px 100px;
}

.section_header h1{
    font-size: 40px;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.section_header p{
    width: 80%;
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 80px auto;
}


/* header section start */
#home {
    background-image: url('./images/donation15.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
    overflow: hidden;
}

.home_content{
    width: 70%;
    text-align: center;
    color: azure;
    margin: auto;
}

#home_header{
    font-size: 70px;
    margin-bottom: 70px;
    margin-top: 100px;
}


#home_text {
    font-size: 18px;
    margin-bottom: 100px;
}


#primary-btn{
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 15px 25px;
    border-radius: 10px;
}

/* header section end */


/* donate today section start */

.donate_today{
    text-align: center;
}


.donate_amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate_taka{
    padding: 50px;
    background-color:  rgba(128, 128, 128, 0.234);
    margin: 0px 2.5% 100px 2.5%;
    border-radius: 10px;
}


.donate_today input{
    border-style: none;
    background-color: whitesmoke;

}

.donate_today hr{
    width: 500px;
    color: gray;
    margin: 20px auto 100px;
}

/* donate today section end */

/* donate plan section start */
.donate_contents{
    display: flex;
}

.donate_content_box{
    margin: 0px 10px;
    padding: 25px;
    border-radius: 10px;
}

.donate_content_details h3{
    margin: 30px 0px;
}

.donate-box-1{
    background-color: rgba(156, 241, 241, 0.425);
}
.donate-box-2{
    background-color: rgba(250, 124, 231, 0.49);
}
.donate-box-3{
    background-color: rgba(244, 140, 76, 0.485);
}
/* donate plan section end */

/* lives donation area start */
.lives_donation_contents {
    display: flex;
}

.half-width{
    width: 40%;
    margin: 0px 5%;
    overflow: hidden;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.donation_content p {
    margin: 50px 0px;
}
.donation_content h1 {
    font-size: 3rem;
}
.donation_content img {
    border-radius: 20px;
}
/* lives donation area end */
/* lives suvive area end */
.suvive_donation_contents{
    display: flex;
}

/* lives suvive area end */


 /* subscribe section start  */
 .subscribe_box{
    background-color: antiquewhite;
    width: 50%;
    margin: auto;
    padding: 80px 100px;
    text-align: center;
 }

 .subscribe_box input{
    width: 300px;
    height: 60px;
    background-color: gainsboro;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }

 #subscribe-btn{
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 15px 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
}

 /* subscribe section end  */

 /* footer area start*/
 footer{
    width: 100vw;
    height: 250px;
    text-align: center;
    background-color: rgb(4, 4, 21);
    margin-top: 100px;
    border-top-left-radius: 200px;
 }
 footer h3{
    color: wheat;
    font-size: smaller;

 }
 footer h1{
    color: tomato;
    padding-top: 100px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
 }
 /* footer area end*/